In [1]:
#import library
import pandas as pd
import numpy as np

In [6]:
#creating a dataframe

df=pd.DataFrame(np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]]), columns=['a', 'b', 'c'])
df

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [7]:
#applying the transform function
df = df.transform(func = lambda x : x + 10)
df

    a   b   c
0  11  12  13
1  14  15  16
2  17  18  19

In [8]:
result = df.transform(func = ['sqrt'])

In [9]:
result

          a         b         c
       sqrt      sqrt      sqrt
0  3.316625  3.464102  3.605551
1  3.741657  3.872983  4.000000
2  4.123106  4.242641  4.358899