In [1]:
#Range

# Use the range

range(3)

range(0, 3)

In [10]:
# For loop example

dates = [1982,1980,1973]
N = len(dates)

for i in range(N):
    
    print(dates[i])

1982
1980
1973

In [23]:
# Example of for loop

for i in range(0, 8):
    
    print(i)

0
1
2
3
4
5
6
7

In [24]:
# Exmaple of for loop, loop through list

for year in dates:
    
    print(dates)

[1982, 1980, 1973]
[1982, 1980, 1973]
[1982, 1980, 1973]

In [25]:
# Use for loop to change the elements in list

squares = ['red', 'yellow', 'green', 'purple', 'blue']

for i in range(0, 5):
    print("Before square ", i, 'is',  squares[i])
    squares[i] = 'white'
    print("After square ", i, 'is',  squares[i])

Before square  0 is red
After square  0 is white
Before square  1 is yellow
After square  1 is white
Before square  2 is green
After square  2 is white
Before square  3 is purple
After square  3 is white
Before square  4 is blue
After square  4 is white

In [29]:
# Loop through the list and iterate on both index and element value

squres = ['red', 'yellow', 'green', 'purple', 'blue']

for i,squre in enumerate(squres):
    
    print(i, squre)

0 red
1 yellow
2 green
3 purple
4 blue