In [2]:
# Create a list
L = ["Michael Jackson", 10.1, 1982]
L

['Michael Jackson', 10.1, 1982]

In [8]:
# Print the elements on each index

print('\nthe same element using negative and positive indexing: \n Positive : ', L[0],' \n Negative : ', L[-3])
print('\nthe same element using negative and positive indexing: \n Positive :', L[1], ' \n Negative : ', L[-2])
print('\nthe same element using negative and positive indexing: \n Positive :', L[2], ' \n Negative : ', L[-1])

the same element using negative and positive indexing:
 Positive :  Michael Jackson
 Negative :  Michael Jackson

the same element using negative and positive indexing:
 Positive : 10.1
 Negative :  10.1

the same element using negative and positive indexing:
 Positive : 1982
 Negative :  1982

In [9]:
# Sample List

["Michael Jackson", 10.1, 1982, [1, 2], ["A", 1]]

['Michael Jackson', 10.1, 1982, [1, 2], ['A', 1]]

In [10]:
# Sample List

L = ["Michael Jackson", 10.1,1982,"MJ",1]
L

['Michael Jackson', 10.1, 1982, 'MJ', 1]

In [13]:
# List slicing

L[3:5]

['MJ', 1]

In [16]:
# Use extend to add elements to list
L = ["Michael Jackson", 10.1,1982,"MJ",1]
L.extend(['pop', 10])
L

['Michael Jackson', 10.1, 1982, 'MJ', 1, 'pop', 10]

In [19]:
# Use append to add elements to list
L = ["Michael Jackson", 10.1,1982,"MJ",1]
L.append(['pop', 10])
L

['Michael Jackson', 10.1, 1982, 'MJ', 1, ['pop', 10]]

In [23]:
# If we append the list ['a','b'] we have one new element consisting of a nested list:
# Use append to add elements to list

L = [ "Michael Jackson", 10.2]
L.append(['a','b'])
L

['Michael Jackson', 10.2, ['a', 'b']]

In [24]:
# Change the element based on the index

A = ["disco", 10, 1.2]
print('Before change:', A)
A[0] = "Hard dock"
print('After change:', A)

Before change: ['disco', 10, 1.2]
After change: ['Hard dock', 10, 1.2]

In [27]:
# Delete the element based on the index

print('Before change:', A)
del(A[0])
print('After change:', A)

Before change: ['Hard dock', 10, 1.2]
After change: [10, 1.2]

In [33]:
# Split the string, default is by space
'Hard dock'.split()
#'Hard dock'.split(",")

['Hard', 'dock']

In [37]:
# Split the string by comma
'A,B,C,D'.split(',')

['A', 'B', 'C', 'D']

In [39]:
# Copy (copy by reference) the list A
A = ["Hard rock", 10.2, 1982]
B = A
print("A : ", A)
print("B : ", B)

A :  ['Hard rock', 10.2, 1982]
B :  ['Hard rock', 10.2, 1982]

In [41]:
print("B[0] : ",B[0])
A[0] = "Banana"
print("B[0] : ",B[0])

B[0] :  Hard rock
B[0] :  Banana

In [42]:
# Clone (clone by value) the list A

B = A[:]
B

['Banana', 10.2, 1982]

In [43]:
print('B[0]:', B[0])
A[0] = "hard rock"
print('B[0]:', B[0])

B[0]: Banana
B[0]: Banana

In [44]:
#Create a list a_list, with the following elements 1, hello, [1,2,3] and True.
# Write your code below and press Shift+Enter to execute
a_list = [1, 'hello', [1,2,3], True]
a_list

[1, 'hello', [1, 2, 3], True]

In [45]:
# Find the value stored at index 1 of a_list.
# Write your code below and press Shift+Enter to execute
a_list[1]

'hello'

In [46]:
# Retrieve the elements stored at index 1, 2 and 3 of a_list.
# Write your code below and press Shift+Enter to execute
a_list[1:4]

['hello', [1, 2, 3], True]

In [50]:
# Concatenate the following lists A = [1, 'a'] and B = [2, 1, 'd']:
A= [1, "a"]

B = [2, 1, 'd']
A+B

[1, 'a', 2, 1, 'd']