In [1]:
# Use quotation marks for defining string

"Michael Jackson"

'Michael Jackson'

In [2]:
# Use single quotation marks for defining string

'Michael Jackson'

'Michael Jackson'

In [3]:
# Digitals and spaces in string

'1 2 3 4 5 6 '

'1 2 3 4 5 6 '

In [4]:
# Special characters in string

'@#2_#]&*^%$'

'@#2_#]&*^%$'

In [6]:
# We can print our string using the print statement:

# Print the string

print("hello!")

hello!

In [7]:
# Assign string to variable

name = "Michael Jackson"
name

'Michael Jackson'

In [10]:
#Indexing
# Print the first element in the string

name = "Michael Jackson"
print(name[0])

M

In [11]:
# Print the first element in the string
print(name[6])

l

In [12]:
# Print the element on the 13th index in the string
print(name[13])

o

In [13]:
# Print the last element in the string
print(name[-1])

n

In [15]:
# Print the first element in the string
print(len(name))
print(name[-15])

15
M