In [2]:
print("Hi")

Hi

In [12]:
# First function example: Add 1 to a and store as b

def add(a):
    """
    add 1 to a
    """
    b = a + 1
    print(a,"if you add one", b)
    return(b)

add(1) # Call the function add()
#help(add)

1 if you add one 2

2

In [6]:
# Get a help on add function

help(add)

Help on function add in module __main__:

add(a)
    add 1 to a

In [13]:
# Call the function add()

add(1)

1 if you add one 2

2

In [16]:
# Call the function add()

add(2)

2 if you add one 3

3

In [32]:
# Define a function for multiple two numbers

def Mult(a,b):
    
    c = a*b
    return (c)
    print("This is not printed")
    
reult = Mult(12,2)
print(result)

24

In [ ]:
# Use mult() multiply two integers

Mult(2, 3

6

In [34]:
# Use mult() multiply two floats

Mult(10.0, 3.14)

31.400000000000002

In [36]:
# Use mult() multiply two different type values together

Mult(2, ' Md. Anas Mondol')

' Md. Anas Mondol Md. Anas Mondol'