In [1]:
# Now, let us create your first tuple with string, integer and float.
# Create your first tuple

tuple1 = ("disco", 10, 10.2)
tuple1

('disco', 10, 10.2)

In [2]:
# Print the type of the tuple you created

type(tuple1)

tuple

In [6]:
# Print the variable on each index

print(tuple1[0])
print(tuple1[1])
print(tuple1[2])

disco
10
10.2

In [10]:
# Print the type of value on each index

print(type(tuple1[0]))
print(type(tuple1[1]))
print(type(tuple1[2]))

<class 'str'>
<class 'int'>
<class 'float'>

In [11]:
# Use negative index to get the value of the last element
tuple1[-1]

10.2